<div class="container mt-4">
  <h3 class="text-center mb-3">
    <i class="fa fa-map-pin text-primary me-2"></i>
    Rota do Cliente até o Equipamento
  </h3>

  <div class="row">
    <div class="col-md-9">
      <div id="map" class="map-container"></div>
    </div>

    <div class="col-md-3">
      <div class="sidebar">
        <h5 class="mb-3"><i class="fa fa-cog me-2"></i> Configurações</h5>

        <div>
          <h6 class="option-title" (click)="toggleOption('option3')">
            Rotas
            <i
              class="fa"
              [ngClass]="{
                'fa-chevron-down': !showOption3,
                'fa-chevron-up': showOption3
              }"
            ></i>
          </h6>
          <div *ngIf="showOption3" class="mt-2">
            <label>Cliente</label>
            <select class="form-select mb-2" [(ngModel)]="selectedClient">
              <option value="" disabled selected>Selecione um cliente</option>
              <option *ngFor="let cliente of clients" [value]="cliente.id">
                {{ cliente.name }}
              </option>
            </select>

            <label>Item</label>
            <select class="form-select mb-2" [(ngModel)]="selectedItem">
              <option value="" disabled selected>Selecione um item</option>
              <option *ngFor="let item of items" [value]="item.id">
                {{ item.name }}
              </option>
            </select>

            <button class="btn btn-light w-100 mt-3" (click)="applySettings()">
              Aplicar
            </button>

            <button
              class="btn btn-outline-danger w-100 mt-2"
              (click)="clearRoutes()"
            >
              Limpar
            </button>
          </div>
        </div>

        <div class="mt-3">
          <h6 class="option-title" (click)="toggleOption('option1')">
            Cliente
            <i
              class="fa"
              [ngClass]="{
                'fa-chevron-down': !showOption1,
                'fa-chevron-up': showOption1
              }"
            ></i>
          </h6>
          <div *ngIf="showOption1" class="mt-2">
            <select class="form-select" [(ngModel)]="selectedClient">
              <option value="" disabled selected>Selecione um cliente</option>
              <option *ngFor="let cliente of clients" [value]="cliente.id">
                {{ cliente.name }}
              </option>
            </select>
          </div>
        </div>

        <div class="mt-3">
          <h6 class="option-title" (click)="toggleOption('option2')">
            Item
            <i
              class="fa"
              [ngClass]="{
                'fa-chevron-down': !showOption2,
                'fa-chevron-up': showOption2
              }"
            ></i>
          </h6>
          <div *ngIf="showOption2" class="mt-2">
            <select class="form-select" [(ngModel)]="selectedItem">
              <option value="" disabled selected>Selecione um item</option>
              <option *ngFor="let item of items" [value]="item.id">
                {{ item.name }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
