.map-container {
  border: 1px solid #dee2e6;
  border-radius: 0.375rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  height: 500px;
}

.sidebar {
  background-color: #1d2127;
  color: whitesmoke;
  border: 1px solid #dee2e6;
  border-radius: 0.375rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding: 1rem;
  height: 500px;
  max-height: 100vh;
  overflow-y: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.sidebar .form-control,
.sidebar .form-select {
  background-color: #1d2127;
  color: whitesmoke;
  border: 1px solid #444;
}

.sidebar .form-control::placeholder {
  color: #ccc;
}

.sidebar .form-control:focus,
.sidebar .form-select:focus {
  background-color: #1d2127;
  color: whitesmoke;
  border-color: #666;
  box-shadow: none;
}

.option-title {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar .form-group {
  margin-bottom: 1rem;
}

.sidebar .form-control {
  width: 100%;
}

.sidebar .btn-light {
  padding: 2px 5px;
  font-size: 14px;
  margin-right: 5px;
}

.sidebar .btn-light i {
  font-size: 14px;
}

.sidebar .text-center .btn-light {
  display: inline-block;
}

.action {
  width: auto;
  padding: 0;
  margin: 0;
  font-size: 12px;
}
